body {
  font-family: Open Sans;
  color: black;
  align-items: center;
  background-image: url('imagens/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 3rem !important;

}

.material-tooltip{

  display:none !important;

}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
}
::-webkit-scrollbar-thumb {
  background-color: #b92113;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  width: 1em;
}

/* ::-webkit-resizer {
  background-color: rgba(218, 218, 218, 0.8);
} */

*::-webkit-scrollbar:hover{

  width: 15px;
  transition: all 1s;

}

.super-table{

  width: -webkit-fill-available;
  height: -webkit-fill-available;
  overflow: auto;
  padding-bottom: 2em;

}

.fundoModal table {

  display: block;
  resize: horizontal;
  overflow: auto;
  box-sizing: border-box;
  max-width: 200% !important;
  max-height: 90% !important;
  min-width: 50% !important;
  min-height: 20% !important;

}

.fundoModal table td{

  padding: 0.3em !important;
  color: black !important;

}


:root {
  --base-grid: 8px;
  --colour-white: #fff;
  --colour-black: #1a1a1a;
  --color-red:#b92113;
}

@keyframes opac {
  from {
      opacity: 0
  }
  to {
      opacity: 1
  }
}

@keyframes run {
  0% {
    left: 100%;
    opacity: 0
  }
  50% {
    right: 50%;
    opacity: 0.3
  }
  100% {
    left: 0%;
    opacity: 1
  }
}

@keyframes run2 {
  0% {
    left: -100%;
    opacity: 0
  }
  50% {
    right: -50%;
    opacity: 0.3
  }
  100% {
    left: 0%;
    opacity: 1
  }
}

@keyframes anim3 {
  0% {
    /* position: relative;
    top: -4em; */
    opacity: 0;
  }
  50% {
    /* position: relative;
    top: -2em; */
    opacity: 0.5;
  }
  100% {
    /*position: relative;
    top: 0em;*/
    opacity: 1;
  }
}

@keyframes anim4 {
  0% {
    position: relative;
    top: 4em;
    opacity: 0
  }
  50% {
    position: relative;
    top: 2em;
    opacity: 0.3
  }
  100% {
    position: relative;
    top: 0em;
    opacity: 1
  }
}


@media (min-width:1000px) {
  .select2-selection__choice {
    max-width: 60ch !important;
    white-space: nowrap !important;
  } 

  .select2-search, .select2-search--inline {
    width: 0% !important;
  }
}

@media (min-width:1300px) {
  .select2-selection__choice {
    max-width: 60ch !important;
    white-space: nowrap !important;
  } 

  .select2-search, .select2-search--inline {
    width: 0% !important;
  } 

  #ADICIONAR {
    margin-left:18px;
  } 

}


.selection .fluigicon .fluigicon-zoom-in{
  display: flex;
  align-items: center;
}

.fluigicon-zoom-in, .fluigicon-remove{
  color: white !important;
}

.solicitacoes {
  font-weight: bold !important;
  font-size: 22px;
}

.CONTEUDO_ABAS .panel-title{
  font-size: 20px;
}

.SOLABERTAS {
  cursor: pointer;
}

.checkModalUsin:checked::after{
  background-color: #4c9974 !important;
}

#INCLUIRTAREFA {
  background-color:  rgb(88,89,91) !important;
  color: white !important;
}

.EXPANSOR {
  text-align: initial !important;
  cursor: pointer !important;
}

.nav-tabs{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: -webkit-fill-available;

}

.nav-tabs li a{

  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


.main_panel{

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);
  align-items: center;

}

#TABELARA .handsontable span.colHeader {
  display: inline-block !important;
  line-height: 2.1em !important;
  font-size: 1.5em !important;
  font-weight: 700 !important;
}

#TABELARA  .handsontable td, .handsontable th {
  line-height: 3em !important;
  text-align: center !important;
  padding: 0.3em !important;
  font-size: 1em !important;
}

.htCheckboxRendererInput {
  position: inherit !important;
  opacity: 1 !important;
  pointer-events: inherit !important;
}

.autocompleteEditor {
  min-height: 12em;
}

.fluig-style-guide.fluig-toast {
  position: fixed;
  z-index: 1110;
  top: 45%  !important;
  left: 50%;
  width: 20% !important;
  padding: 10px;
  transform: translateX(-50%);
}

.chips{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.chips .input{

  min-width: 100% !important;
  text-align: center !important;

}

.swal2-html-container {
  display: block !important;
  overflow: unset;
}

.customFilterButtonExample1 .changeType {
  background: #e2e2e2;
  border-radius: 100%;
  width: 16px;
  color: #b92113;
  height: 16px;
  padding: 3px 2px;
  border: none;
}

.customFilterButtonExample1 .changeType::before {
  content: '▼ ';
  zoom: 0.9;
}

div#TABELARA{

  margin-top: 2em !important;

}



.alinha-abaixo{

  display: flex;
  align-items: flex-end;

}

.alinha-centro{

  display: flex;
  align-items: center;

}

.icon-white{

  color : white !important;

}

.fluig-style-guide .breadcrumb {
  font-size: 1em !important;
  margin-bottom: 1em !important;
  padding: 1em !important;
  list-style: none !important;
  text-transform: uppercase !important;
  border-radius: 0.6em !important;
  background-color: #ebe9e9 !important;
  margin-top: 1em !important;
}

#TITULOPRINCIPAL{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: solid #00000065 0.1em;
  background-color: #d8d8d847;
  width: 100%;

}

#PRINCIPAL{

  width: 92%;
  animation: run2 1s;
  border: solid #00000065 0.1em;
  background-color: white;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2em !important;

}

div#lateral_menu {
  animation: run2 1s;
  border: solid #00000065 0.1em;
  background-color: white;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: fixed;
  height: -webkit-fill-available;
  right: 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: fit-content !important;
  overflow-y: auto !important;
  top: 20% !important;
  overflow-x: hidden !important;
  cursor: col-resize;
  z-index: 1;
}

div#resizer {
  width: 0.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #58595b;
  align-items: flex-start;
  flex-wrap: nowrap;
  right: 1em;
  left: 5px;
}

div#resizer .material-icons{
  color :white;
}

div#lateral_menu .material-icons {

  font-size: none !important;
  align-self: center;

}

.swal2-actions{

  z-index:0 !important;

}

#CONSULTA{

  background-color: #ebe9e9fa !important;
  border-radius: 10px;
  font-size: 1em;
  color: black;
  width : 60%;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.main_panel  .breadcrumb {

  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.modal{
  top: 30% !important;
}

.col.s3.button-align {
  display: flex;
  justify-content: center;
}

#CONSULTA label{

  color: black !important;

}

div#lateral_menu .active .material-icons {

  align-self: center;
  color : #e3b420 !important;
  transition: color 1s;
  font-size: none !important;
  
}

div#lateral_menu .active h4 {

  color : #e3b420 !important;
  text-align: center;
  transition: color 1s;
  font-size: none !important;
  
}

.fluig-style-guide .nav-tabs>li.active>a, .fluig-style-guide .nav-tabs>li.active>a:focus, .fluig-style-guide .nav-tabs>li.active>a:hover {

  border-color: #e3b420 !important;

}

.fluig-style-guide .nav-tabs>li>a, .fluig-style-guide .nav-tabs>li>a:focus, .fluig-style-guide .nav-tabs>li>a:hover {

  cursor: alias;

}

.fluig-style-guide .nav-tabs>li>a:hover {

  transform: scale(1.1);

}


div#lateral_menu h4 {

  text-align: center;
  
}

.MATERIAIS_INFO_SALVOS td {
  vertical-align: middle !important; 
  text-align: center !important; 
  padding-top:5px !important; 
  padding-bottom: 5px !important; 
  background-color: white !important;
}

.TABELA_PROD_RM .form-control, .TABELA_PROD_RM th{

  font-size: 1rem !important;
  color: black !important;

}
 
label {
  font-family: Open Sans;
  font-size: 12px;	
}

.espaco {
  padding-top: 24px !important;
  padding-bottom: 30px !important;
}

legend {
  font-size: 14px !important;
  margin-bottom: 10px !important;
}

.ESTRUTURA, .TABELACOMPONENTES, .TABELAPROCESSO {
  display: none;
} 

.VIEWTABELACOMPONENTES, .VIEWTABELAPROCESSO {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px !important;
}

.divCroqui span {
  cursor: pointer !important;
}

.input-group-addon, .EXCLUIRCOMPONENTE, .EXCLUIRPROCESSO, .ADICIONARPROCESSO, .COPIARPROCESSO, #CONFIRMAR_OS,#EXPORTARLISTA, #EXIBIROPS {
  background-color: #b92113 !important;
  cursor: pointer !important;
}

#ICONtxtHistoricoITMMOV, #ICONRtxtHistoricoITMMOV, .input-group-addon, #SPAN_DIV_INDICECOPIA {
  cursor: pointer !important;
}

.COMPONENTE button{

  border-width: 0 !important;
  background-color: transparent !important;

}

.beforeCroqui {
  padding-left: 15px !important;
}

/* .tab-pane{
  background-color:rgb(240, 240, 240);
} */

.divCroqui {
  overflow: auto;
  white-space:nowrap;
}

.croqui {
  background-color: rgb(240, 240, 240) !important;
  font-size: 14px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px; 
  font-family: Open Sans;
}

.OUTROS_BOTOES {
  background-color: rgb(240, 240, 240) !important;
  font-size: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  /* width: min-content; */
}

.lblBotoes {
  background-color: rgb(240, 240, 240) !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.CABECALHO {
  position: sticky !important;
  top: 10 !important;
  z-index: 2;
}

table td {
  /* background-color: rgb(240, 240, 240) !important;  */
  align-items: center;
  color: #696969;
}

/* 
.BOTOES_CAB {
  position: sticky !important;
  top: 0 !important;
} */

/* .BOTOES_CAB {
  position: sticky !important;
  top: 0 !important;
} */

.tab-content{

  width: -webkit-fill-available;

}

.mt-3 {
  margin-top: -8px !important;
}

.botao {
  color: #b92113;
}

.fluig-style-guide .buttons-ferramentas .btn {

  display: inline-flex;
  margin-left: 1em;
  margin-bottom: -1em;
  margin-top: 3em;
  text-transform: none !important;

}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){

  border-bottom: 0px solid #b92113 !important;
  box-shadow: 0 0px 0 0 #b92113 !important;

}

input[readonly]{

  border-radius: 5px !important;
  text-indent: 9px !important;

}

[type="checkbox"]+label{

  pointer-events: auto !important;
}

.fluig-style-guide .buttons-ferramentas .btn-default {

  background-color: transparent !important;

}

.row.buttons-ferramentas {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons-ferramentas span{

  margin-right: 0.2em;

}

.CABECALHO {
  background-color: rgb(240, 240, 240) !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
  border-radius: 5px !important; 
}

.panel-heading {
  background-color: #f5f5f5 !important;
  padding-bottom: 20px !important;
}

.info {
  font-size: 14px;
}

.titulo,.aba {
  color: #b92113;
}

.os {
  text-decoration: underline;
  color: black !important;
}

.select2-fluigicon-zoom, #CADASTRAR, #ADICIONARCOMPONENTE, .EXCLUIR, #EXPORTAR, #VOLTAR_OS {
  background-color: #b92113 !important;
  z-index: 2 !important;
}

#INCLUIR_OS,#ALTERAR_OS,#VOLTAR_OS,#VOLTAR_TAREFA,#SALVARTAREFA,#INCLUIR_OSCOPIA,#CANCELAR_OSCOPIA,#INCLUIR_PAI,#CONFIRMA_INCLUIR_FILHO,#CONFIRMA_INCLUIR_IRMAO,#CONFIRMA_ALTERACAO,#CANCELAR,#EDITAR,#SALVAR,#SALVAR2,#REMOVER,#CONFIRMA_INCLUIR_PAI,#BUSCARPROC {
  background-color: #b92113 !important;
}

.lblBotoes {
  font-size: 12px;
}

.container {
  background: #F9F9F9; 
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* td {
  vertical-align: middle !important; 
  text-align: center !important; 
  padding-top:5px !important; 
  padding-bottom: 5px !important; 
  /* background-color: white !important; 
}

th {
  background-color: white !important; 
  text-align: center !important; 
  line-height: 0px !important; 
  vertical-align: middle !important;  
} */

#LINHA {
  background-color: white;
}

.panel-heading {
  background-image: linear-gradient( #e9e9e9, white); 
}

textarea {
  resize: none;
}

.panel-body {
  background-image: linear-gradient(to bottom right, white, rgb(240, 240, 240), rgb(233, 237, 240), rgb(255, 255, 255));
  align-items: center;
  color: #696969;
}

.form-group {
  margin: 5px -5px 0px 0px !important;
  color : black !important; 
}

.form-control{
  color: black !important;
}

/* .botao {
  padding-bottom: 30px;
} */

.BOTAOEXIBIR {
  margin-top: 23px !important;
}

.REMOVER {
  padding-left: 50px !important;
} 

.ULTIMAPOSICAO {
  margin-top: -25px;
}

.espaco {
  padding-top: 20px;
}

.p-10 {
  padding: 10px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-30{
  margin-left: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-30 {
  padding-bottom: 30px;
}

hr {
  border-color: #e9e9e9 !important;
  margin-bottom: 0px !important;
}

#DIVLINK {
  display: none;
}

#CHECK_MATERIAL {
  width: 100% !important;
  height: 15px !important;
}

.INCLUIR_OS,.SALVARTAREFA, .INCLUIR_OSCOPIA, .ALTERAR_OS {
  padding-top: 24px;
}

#VOLTAR_OS {
  margin-left: 15px !important;
  margin-top: 24px !important;
}

.APROVAR,.TODOS, .TFILHOS, .RECUARFILHOS {
  background-color: #3085d6;
  border-left-color: #3085d6;
  border-right-color: #3085d6;
  /*background-color: rgb(176, 196, 222, 1.00);
  border-left-color: rgb(176, 196, 222, 1.00);
  border-right-color: rgb(176, 196, 222, 1.00);*/
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 30px 5px 0px 5px;
  padding: 10px 32px;
}

.click {
  cursor: pointer;
}

.INFO_INDICE {
  width:950px;
  height:400px;
  /* background:#f00; */
  /* background: #fff; */
  position:absolute;
  z-index:100;
  top:30%;
  /* left:40; */
  overflow-y:hidden;
  overflow-x: hidden; 
}

.INFO_PROCESSO {
  width:950px;
  height:400px;
  /* background:#f00; */
  /* background: #fff; */
  position:absolute;
  z-index:100;
  top:30%;
  /* left:40; */
  overflow-y: hidden;
  overflow-x: hidden; 
}

/* .LISTAOPS {
  width:800px;
  height:500px;
  -- background:#f00; 
  -- background: #fff; 
  position:absolute;
  z-index: 101 !important;
  top:30%;
  -- left:40; 
  overflow-y:auto;
  overflow-x: hidden; 
} */
.LISTAOPS {
  width: 40% !important;
  height: 50%;
  /*background: #7a2828 !important;*/
  /*background: #1a1616 !important;*/
  position: absolute;
  z-index: 101 !important;
  top: 30%;
  left: 18%;
  overflow-y: auto;
  overflow-x: hidden;
}

.fundoModal {
  background-color: rgb(240, 240, 240) !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding: 2em;
  width : 70%;
  resize: both;
  overflow: auto !important;
  max-width: 90% !important;
  max-height: 90% !important;
  min-width: 20% !important;
  min-height: 20% !important;
}

.modal-personalizado {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.397) !important;
  /* padding: 0rem 20rem 0rem 20rem; */
  display: flex !important;
  align-content: center !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 2;
  opacity:0;
  transition: opacity 400ms ease-in 400ms;
  pointer-events: none;
  width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
  max-height: -webkit-fill-available !important;
}

.modal-personalizado:target {
  opacity: 1;
  pointer-events: auto;
}

/* .fechar {
  position: absolute;
  width: 30px;
  right: -10px;
  top: -5px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
} */

.fechar {
  position: fixed !important;
  line-height: 30px;
  margin-top: 0.5% !important;
  z-index: 99999;
  border-radius: 50%;
  font-size: 20px;
  page-break-inside: avoid !important;
  color: #8d0000 !important;
} 

/* .fechar {

  width: 30px;
  right: 29em;
  top: 13em;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 1.5em;
  color: #8d0000 !important;

} */

.pt-30 {
  padding-top: 30px !important;
}

.beforeCroqui span:hover {
  background-color: #E8E8E8;
}

.fluigicon-pencil{
  color: #A0522D !important;
}

.fluigicon-circle-arrow-down, .fluigicon-circle-arrow-bottom-right, .fluigicon-circle-arrow-up, .fluigicon-circle-arrow-right,.fluigicon-circle-arrow-left, .fluigicon-copy{
  color: #b92113 !important;
}

.fluigicon-export{
  color: #bf5248 !important;
}

.flaticon-import-export{
  background-color: #b92113 !important;
  color: #eee !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  padding: 1px !important;
}

.fluigicon-folder-open{
  color: #b92113 !important;
}

.fluigicon-trash{
  color: #b92113 !important
}

.loading-spinner {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.loading-spinner.active {
  display: block;
}

#hourglass {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
}

/* AQUI COMEÇA O NOVO LOAD */
/* Center the loader */
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #b92113;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.fundo{

  background-image: linear-gradient(45deg, rgb(127, 79, 190), rgb(79, 42, 165));
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  z-index: 1000;

}

.pesquisa{

  position:  fixed !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin-left: 86.5% !important;
  transform: translate(-50%,-50%) !important;
  border-radius: 15px !important;
  padding: 15px !important;
  margin-left: 86% !important;
  margin-top: 10.5% !important;
  width: 13%!important;
  z-index: 1000 !important;
  page-break-inside: avoid !important;

}

#buttonpesquisa{

  color : #fff !important;
  font-size: 3.50vh;

}

.botaopesquisa{

  color: #58595b !important;
  position: fixed !important;
  background-color: #58595b !important;
  margin-left: 95% !important;
  margin-top: 2.1% !important;
  transform: translate(-50%,-50%) !important;
  border-radius: 20% !important;
  padding: 0.3% !important;
  width: 2.2% !important;
  height: 4.8% !important;
  z-index: 1000 !important;
  page-break-inside: avoid !important;

}

.botao{
  width: 100% !important;
  height: 100% !important;
  font-size: 200% !important;
  cursor: pointer !important;
  background-color: rgb(31, 31, 31) !important;
  border: none !important;
  color: white !important;
  z-index: 1000 !important;
}

.botao:hover{
  background-color: black !important;
  z-index: 1000 !important;
}

#campospesquisa{

  width: 115%;
  font-size: 110%;
  font-family: Open Sans;

}

.buttonnaveg{

  background-color: white;
  border-radius: 8px;
  padding-left: 5%;

}

.labelpesquisar{

  margin-left: 93.2% !important;
  position: fixed !important;
  margin-bottom: 1% !important;
  page-break-inside: avoid !important;

}

.indicador{

  text-align: center;
  align-content: center;
  font-size: 24;
  color: white;
  padding-top: 4%;

}

.textops {
	text-align: center;
  color: black !important;
	page-break-inside: avoid !important;
}

.calculadora{
  position:  fixed !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin-left: 86.5% !important;
  transform: translate(-50%,-50%) !important;
  border-radius: 15px !important;
  padding: 15px !important;
  margin-left: 86% !important;
  margin-top: 10.5% !important;
  width: 13%!important;
  z-index: 1000 !important;
  page-break-inside: avoid !important;
}

#buttoncalculadora{
  color : #fff !important;
  font-size: 3.50vh;
}

.botaocalculadora{
  color: #58595b !important;
  position: fixed !important;
  background-color: #58595b !important;
  margin-left: 94% !important;
  margin-top: 5% !important;
  transform: translate(-50%,-50%) !important;
  border-radius: 20% !important;
  padding: 0.25% !important;
  width: 2.2% !important;
  height: 4.8% !important;
  z-index: 1000 !important;
  page-break-inside: avoid !important;
}

#resultado{
  width: 115% !important; 
  min-height: 35px !important;
  background-color: white !important;
  font-size: 25px !important;
  color: black !important;
  text-align: right !important;
  padding: 5px !important;
  z-index: 1000 !important;
  word-break: break-all;
}
  
.tablecalc{
  width: 100% !important;
  height: max-content !important;
  z-index: 1000 !important;
}

.fixo1{
  position: sticky !important;
  left: 0px !important;
  z-index: 2 !important;
}

.ROWCOMPONENTE{
  border-width: 3px; 
  border-radius: 6px;
  border-style: solid;
  border-color:  #b92113;
  box-shadow: 5px 5px rgb(180, 159, 159);
  margin-top: 1% !important;
}

.ROWCOMPONENTE .panel-heading{
  background-image: linear-gradient(45deg, rgb(240 240 240), rgb(240 240 240)) !important;
}
.ROWCOMPONENTE .panel-body{
  background-image: linear-gradient(45deg, rgb(240 240 240), rgb(240 240 240)) !important;
}

.panel-collapse .panel-body{
  color: black!important;
  font-size: 110% !important;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;
  font-weight: 600!important;
  padding: 1% !important;
  padding-right: 3% !important;
}

.collapsed{
  color: black!important;
  font-size: 130% !important;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;
  font-weight: 600!important;
  height: 10%;
  padding: 1% !important;
  padding-right: 3% !important;
}

.collapse-icon{

  color: black!important;
  font-size: 130% !important;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;
  font-weight: 600!important;
  height: 10%;
  padding: 1% !important;
  padding-right: 3% !important;

}

.COMPONENTE{
  color: black!important;
  font-size: 130% !important;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;
  font-weight: 600!important;
  height: 16% !important;
  padding: 1% !important;
  padding-right: 3% !important;
}

.COMPONENTE{

  color: black!important;
  font-size: 130% !important;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;
  font-weight: 600!important;
  height: 16% !important;
  padding: 1% !important;
  padding-right: 3% !important;

}


input:not([type]), input[type=search]:not(.browser-default){

  height: inherit !important;
  margin-bottom: 0px !important;

}

.row{
  margin-bottom :0px !important
}



.input-field>label {
  color: #9e9e9e8f;
  position: absolute;
  top: 0;
  left: 2em !important;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  z-index: 1;
  width: max-content !important;
}

.input-field>label:not(.label-icon).active {
  -webkit-transform: translateY(-20px) scale(0.8) !important;
  transform: translateY(-20px) scale(0.8) !important;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  font-size: 1.3em;
  width: max-content !important;
  color: #292828a9 !important;
}

label.active2{

  -webkit-transform: translateY(-20px) scale(0.8) !important;
  transform: translate(-16px,-27px) scale(0.8) !important;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  font-size: 1.2em !important;
  color: #292828a9 !important;
  width: max-content !important;

}


.select2-container--default .select2-selection--multiple .select2-selection__choice{

  z-index: 2 !important;
  position: relative !important;
  max-width: -webkit-fill-available !important;
  overflow: hidden;

}

.input-field, .form-group{

  margin-top: 2em !important;

}

.table-datatable label, .table-datatable .material-icons{

  color: #b92113 !important;

}

#FILTROSRAPIDOS2 a{

  display: flex;
  align-items: flex-end;
  flex-direction: row;

}

.filtros-dropdown{

  font-weight: 900 !important;
  width: -webkit-fill-available;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100% !important;
  justify-content: space-evenly;
  align-items: center;

}

.filtros-tabela i, th.filtros-tabela{

  vertical-align: middle;
  word-break: break-word;
  position : sticky;
  top : 0;

}

#FILTROSRAPIDOS, #FILTROSRAPIDOSPAPC, #FILTROSRAPIDOSAPONT, #FILTROSRAPIDOSPEND, #FILTROSRAPIDOSPENDPAPC {

  width: -webkit-fill-available !important;
  top: 100% !important;

}

.botao-collapse{

  border-width: 2px;
  border-color: #d1d3d4;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 0px 5px 0px #b1b1b1;

}

.botao-collapse:hover,.botao-lixeira:hover{

  transform: scale(1.1);
  cursor: pointer !important;

}

.botao-lixeira{

  border-width: 2px;
  border-color: #d1d3d4;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #b1b1b1;

}

.LINHABAIXAS{

  line-height: 3em !important;

}


.lotependente:not([tipo="PAPC"]){

  border-left-color: #b92113;
  border-left-style: solid;
  border-left-width: 0.3em;

}
tr[tipo="PAPC"], tr[tipo='APONT']:not(.lotependente){

  border-left-color: green !important;
  border-left-style: solid;
  border-left-width: 0.3em;

}

table.striped>tbody>tr:nth-child(odd) {
  background-color: rgb(237 237 237) !important;
}

table.striped>tbody>tr:nth-child(even) {
  background-color: rgb(241 240 240 / 45%) !important
}

.LINHABAIXAS td:nth-child(1),.LINHABAIXAS th:nth-child(1){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1em;
}

.LINHABAIXAS label{ 

  margin-bottom: 0px !important;

}

.LINHABAIXAS td a {
  word-break: inherit;
  color: black;
  margin-right: 10px;
}

.table-datatable .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

table a{

  text-decoration: none !important;

}

table th a{

  line-height: normal;

}


.MATERIAIS_INFO_SALVOS td {
  vertical-align: middle !important; 
  text-align: center !important; 
  padding-top:5px !important; 
  padding-bottom: 5px !important; 
  background-color: white !important;
}

.TABELA_PROD_RM .form-control, .TABELA_PROD_RM th{

  font-size: 1rem !important;
  color: black !important;

}

.swal2-html-container .dropdown-content {

  position: initial !important;
  max-height: 10em !important;

}